@page "/"

<div class="container-fluid">
	<div class="row">
		<div class="col">
			<MagicMirrorBlazor.Pages.Components.DateModule />
		</div>
		<!--current weather-->
		<div class="row">
			<MagicMirrorBlazor.Pages.Components.CurrentWeatherModule />
		</div>
	</div>
</div>

@code {
}
