@page "/"

<div class="container-fluid">
	<div class="row">
		<!--current weather-->
		<div class="col">
			<MagicMirrorBlazor.Pages.Components.CurrentWeatherModule />
		</div>

		<!--current date-->
		<div class="col-auto">
			<MagicMirrorBlazor.Pages.Components.DateModule />
		</div>
	</div>
</div>

@code {
}
